body {
    background-color: blanchedalmond;
    font-family: sans-serif;
}



.mainDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.mainHead {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    gap: 10px;
    margin: 1.1%;
}

.searchInput {
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    padding: 5px 10px;
    width: 450px;
    min-width: 130px;
}

.searchBtn {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.foodCard {
    border: 1px solid rgb(219, 207, 207);
    border-radius: 10px;
    margin: 1rem;
    width: 20%;
    min-width: 300px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(228, 236, 184);
    transition: transform 0.2s ease-in-out;
}

.foodCard:hover {
    transform: translateY(-5px);
}

.foodCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.foodCard h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
}


.ing {
    color: grey;
    align-self: center;
}

.id {
    display: none;
}


.recBtn {
    background-color: rgb(206 242 227);
    border: 0.5px solid #bb9dd8;
    border-radius: 5px;
    width: 70%;
    padding: 2%;
    cursor: pointer;
}

.clsBtn {
    border-radius: 10px;
    background-color: rgb(152, 236, 233);
    font-size: 1rem;
    padding: 10px;
    width: 100px;
    align-self: self-end;
}

.secDiv {
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-left: 10%;
}

.recDiv {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}